.containerInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.8rem 0;
  width: 70vw;
}

.container {
  width: 30vw;
  height: 7rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
}
.helper {
  margin-left: 1rem;
  width: 100%;
}
.form {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
