.container {
  width: 70vw;
  height: 3rem;
  border-top: 1px solid black;
  margin: 1rem auto;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ul {
  list-style-type: none;
  display: flex;
  background: white;
}
.pesquisar {
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: black;
    color: white;
      font-weight: thin;
        padding: 0 0.5rem;
}
.list {
  border-radius: 0.5rem;
    height: 2.5rem;
      display: flex;
      align-items: center;
      font-weight: thin;
      padding: 0 0.5rem;
}
.cadastrar {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
    height: 2.5rem;
      display: flex;
      align-items: center;
      font-weight: thin;
      padding: 0 0.5rem;
}
.AtualizaçãoCadastral {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-weight: thin;
  padding: 0 0.5rem;
}